@font-face {
    font-family: "Montserrat";
    src: url(fons/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url(fons/Montserrat-Medium.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Montserrat";
    src: url(fons/Montserrat-Regular.ttf);
    font-weight: 400;
}
html {
    background-color: rgb(230, 230, 230);
}
.author {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(107, 107, 107);
    font-weight: 700;
}
.emotions {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(29, 29, 29);
    font-weight: 700;
}
.description {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(29, 29, 29);
    font-weight: 700;
}
p {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(107, 107, 107);
    font-weight: 400;
}
.name {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(66, 64, 64);
    font-weight: 400;
}
.end {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(107, 107, 107);
    font-weight: 700;
}
h2 {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(36, 36, 36);
    font-weight: 700;
}