@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Medium.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Jomhuria";
    src: url(fonts/Jomhuria-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Mukta";
    src: url(fonts/Mukta-Regular.ttf);
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Montserrat";
}
html {
   display: block;
}

.author {
    font-size: 20px;
    font-family: "Montserrat";
    color: rgb(107, 107, 107);
    font-weight: 700;
}
.emotions {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(29, 29, 29);
    font-weight: 700;
}
.description {
    font-size: 30px;
    font-family: "Montserrat";
    color:  rgb(107, 107, 107);
    font-weight: 700;
}

.name {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(66, 64, 64);
    font-weight: 400;
}
.end {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(107, 107, 107);
    font-weight: 700;
}

.image {
    width: 400px;
    height: 570px;
    display: block;
    overflow:initial;
}
.image:hover img{
    scale: 1.05;
    }
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.posters h1 {
    font-size: 50px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 100px;
}
.banner {
    width: 100%;
    background: rgb(74, 75, 74);
    height: 100%;
    position: relative;
}
.banner__img{
    width: 100%;
    height: 100%;
}
.banner__img_mobile{
    display: none;
}
.banner__img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container{
    margin: auto;
    max-width: 1480px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    
}
.about {
    display: flex;
    align-items: center;
    margin: 60px auto;
    flex-direction: column;

}
.posters {
    align-items: center;
    background-color: #111111;
    height: fit-content;
    padding-bottom: 40px;
}

.about__img img{
    width: 100%;
}
.about__emotions{
    width: calc(50% - 20px);
    margin: 0 60px;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(107, 107, 107);
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
}
.swiper {
    width: 100%;
    
}
.swiper-slide.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
  
}
.card__img {
    width: 100%;
    height: 100%;
    max-width: 1200px;
}
.card__img img {
    width: 100%;
}
.link {
    text-decoration: none;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;

}
.red {
    color: rgb(180, 1, 1);
}
.yellow {
    color: gold;
}
.green {
    color: rgb(105, 128, 66);
}
.blue {
    color: rgb(26, 176, 196);
}
.darkblue {
    color: rgb(71, 90, 124);
}
.violet {
    color: rgb(137, 71, 199);
}
.menu {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.menu-list {
    display: flex;
    list-style: none;
    padding: 0 ;
    justify-content: space-between;
    margin-top: 20px;
}
.swiper-button-next ,
.swiper-button-prev {
    color: #ffffff !important;
}
span.swiper-pagination-bullet{
    width: 50px;
    height: 4px;
    border-radius: 4px;
    background: #ffffff;
}
span.swiper-pagination-bullet-active{
    background: #ffffff;
}
.footer {
    background-color:#181414;
}
.footer_black {
    background-color:#111111;
}
.footer__text1{
    color: rgb(255, 255, 255);
    margin-left: 24px;
    max-width: 600px;
   
}
.footer__text2{
    color: rgb(255, 255, 255);
    margin-left: auto;
}
.footer__wrapper{
    margin: auto;
    padding: 70px 40px;
    display: flex;
    align-items: flex-end;
   
}
.poster {
    width: 100%;
    color: #ffffff;
}
.poster__img{
    width: 100%;
}
.poster__content{
    position:relative;
}
.poster__info{
    position: absolute;
    top:20%;
    left: 50%;
    max-width: 715px;
    font-size: 15px;
    
}
.poster__numbers{
    display: flex;
    gap: 50px;
    padding: 15px 0;
    
}
.poster__percents{
    font-size: 120px;
    font-family: "Jomhuria";
}
.poster__percents span{
    font-size: 13px;
}
.poster__fact{
    font-size: 13px;
    text-transform: lowercase;
}
.poster__text{
    line-height: 30px;
    
}
.poster__image{
    width: 100%;
    background-color:#181414;
    display: flex;
}
.poster__image img{
    max-width: 600px;
    margin: 0 auto 200px;
}
.header {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
}
.header_top {
    position: absolute;
}
.header img{
    width: 100px;
}

@media (max-width: 768px) {
    .banner {
        height: unset;
    }
    .banner__img {
        height: unset;
        display: none;
    }
    .banner__img_mobile{
        display: initial;
    }
    .banner__img-text {
        max-width: 90%;
    }
    .header img {
       width: 60px;
    }
    .menu {
      display: none;
    }
    .about__emotions{
     width: unset;  
     margin: 50px 0 0;
    font-size: 14px;
    } 
    .poster {
        background-color:#181414;
    }
    .posters h1 {
        font-size: 30px;
        text-align: center;
        margin: 50px 0 0 ;
    }
    .poster__content{
       
    }
    .poster__image img{
        max-width: 80%;
        margin: 0 auto 50px;
    }
    .poster__info{
        position: unset;
        background-color:#181414;
        padding: 30px;
        margin-top: -210px ;
    }
    .poster__text{
        font-size: 14px;
        line-height: 20px;
    }
    .poster__percents{
        font-size: 60px;
    }
    .poster__fact{
        font-size: 12px;
    }
    .footer__wrapper{
        flex-direction: column;
       align-items: flex-start;
    }
    .footer__text1{
        font-size: 14px;
        margin: 20px 0 0;
    }
    .footer__text2 {
        font-size: 12px;
        margin: 15px 0 0;
    }
    .footer__img{
        width: 100px;
    }
    .footer__wrapper{
        padding: 65px 20px;
    }
   
}